@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
html {
	font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;
}
body {
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	overflow-y: visible;
	overflow-x: hidden;
	font-size: 1.15rem;
	font-family: 'Montserrat', sans-serif;
	background-color: #3d405b;
}

.container {
	margin: 1rem 2rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-overlay {
	margin: 0rem;
	background-color: black;
	height: 100vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pokemon-header {
	text-align: center;
	font-size: 4rem;
	letter-spacing: 0.25rem;
	font-weight: 600;
	color: #81b29a;
}
